@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=varela Round&display=swap');
.brand img{
    width: 44px;
}
body{
    background-color:antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'ubuntu',sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    width: 100%;
    background-color: black;
    color: white;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
nav ul li{
    padding: 0 12px;
}
.container{
    min-height: 68vh;
    background-color: black;
    color: white;
    font-family: 'varela Round',sans-serif;
    display:flex;
    border-radius: 12px;
    padding: 34px;
    margin: 23px auto;
    width: 70%;
    background-image: url('./bg.webp');
    background-size: contain;
}
.bottom{
    position: sticky;
    background-color: black;
    bottom: 0;
    height: 130px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#myprogressbar{
    width: 80vw;
}
.songItem{
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    margin:12px 0;
    border-radius: 34px
}
.songItem img{
    width: 43px;
    border-radius: 34px;
    margin: 0 23px;
}
.songItemcontainer{
    margin: 74px;
}
.parent{
    position: relative;
}
.icons img{
    height: 50px;
    width: 30px;
    border-radius: 10px;
}
.blur img{
    border-radius: 20px;
}